wget
tmux
htop
tree
unzip
build-essential
emacs
zsh
python3-tk
python3-pip
git
dpkg-dev
cmake
g++
gcc
clang
binutils
libx11-dev
libxpm-dev
libxft-dev
libxext-dev
gfortran
libssl-dev
libpcre3-dev
xlibmesa-glu-dev
libglew1.5-dev
libftgl-dev
libmysqlclient-dev
libfftw3-dev
libcfitsio-dev
graphviz-dev
libavahi-compat-libdnssd-dev
libldap2-dev
libxml2-dev
libkrb5-dev
libgsl0-dev
libgtk2.0-dev
pkg-config
libavcodec-dev
libavformat-dev
libswscale-dev
python-dev
python3-dev
python-numpy
python3-numpy
libtbb2
libtbb-dev
libjpeg-dev
libpng-dev
libtiff-dev
libdc1394-22-dev
libgl1-mesa-dev
freeglut3-dev
libgl2ps-dev
imagemagick
